{% extends "base.html" %}{% load cms_tags menu_tags staticfiles sekizai_tags i18n thumbnail %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block meta_description %}{% page_attribute 'meta_description' %}{% endblock %}

{% block css %}{% endblock css %}

{% block content %}

<section class="menu-top-banner page-title-center" {% placeholder 'background-image' %}>
    <div class="container">
        <div class="page-title col-md-8">
            <h1>{% page_attribute "page_title" %}</h1>
            {% show_breadcrumb 0 "menu/breadcrumb.html" 0 %}
        </div>
    </div>
</section>

<section class="p-b-10">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="about-img">
                    {% placeholder 'about_logo' %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="heading m-b-20 text-left">
                    {% placeholder 'about_text' %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 about_gallery">
                {% placeholder 'image_01' %}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 about_gallery">
                {% placeholder 'image_02' %}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 about_gallery">
                {% placeholder 'image_03' %}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 about_gallery">
                {% placeholder 'image_04' %}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 about_gallery">
                {% placeholder 'image_05' %}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 about_gallery">
                {% placeholder 'image_06' %}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 about_gallery">
                {% placeholder 'image_07' %}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 about_gallery">
                {% placeholder 'image_08' %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}